.form-content{
	width:55%;
	height:45%;
	bottom: 50px;
	background-color:rgba(50,50,50,1); 
	border-radius: 10px;
	box-shadow:0px 0px 7px 2px #c97E48;
	overflow: hidden;
}
.form-content:hover{
	box-shadow: 0px 0px 10px 3px #c97E48;
}
.form-content form{
	position:relative;
	width:75%;
	margin:30px auto 0;
	font:14px sans-serif;

}
form .form-element{
	height:30px;
	margin-bottom:4%;
}
form label{
	display: inline-block;
	margin-right:10px;
	width:100px;
	line-height:30px;
	text-align: right;
	color: #c97E48;
}
form .input-border{
	display: inline-block;	
	padding:4px;
	height:20px;
	width:70%;
	background-color: white;
	border:solid 1px #A95E28;
	border-radius:3px;
}
form .input-border:hover{
	box-shadow: 0 0 3px 1px #A95E28;
}
form .input-border input{
	height:20px;
	width:90%;
	border:none;
	outline:none;
}
form .form-text{
	margin-bottom:4%;
	height: 60px;
}
form textarea {
	resize: none;
	outline:none;
	width:70%;
	height:48px;
	padding:5px;
	border-radius:3px;
	border:solid 1px #A95E28;
	vertical-align:top;/*标签与文本框顶部对齐*/
}
form .form-btn{
	width: 100px;
	position: relative;
	left:60%;
	transform: translateX(-50%);
}
form .form-btn input{
	height:30px;
	width:100px;
	margin:0 auto;
	background-color:#c97E48;
	border:none;
	cursor:pointer;
	color:white;
}
form .form-btn input:hover{
	background-color:#d98e58;
}