html,body,div,form,textarea,ul,h2,p{
	margin:0;
	padding:0;
}
li,a{
	text-decoration: none;	
}
a{
	cursor:pointer;
	color:white;
}
li{
	list-style:none;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
.co{
	color:rgb(220,220,160);
}
.rel{
	position:relative;
}
.abs{
	position:absolute;
}
html,body{
	width:100%;
	height:100%;
	background: #dee3df url(images/dingxueyang.jpg) no-repeat bottom right;
	background-size: 700px 681px;
}
.line-right{
	position:absolute;
	width:35%;
	height:100%;
	border-right:solid 2px #a96e28;
}
.line-right .line-bottom{
	height:75%;
	border-bottom:solid 2px #a95e28;
}
.nav{
	height:38px;
	width:100%;
	background-color:#958871;
	border-bottom:solid 2px #fcf3d6;
}
.nav .n-content{
	width:80%;
	height:100%;
	margin:0 auto;
}
.nav .n-content ul{
	width:100%;
	height:100%;
	overflow:hidden;
}
.nav .n-content li{
	display:inline-block;
	padding-right:8%;
	height:36px;
	font:bold  14px/38px sans-serif ;
}
.nav .n-content li a{
	display:inline-block;
	box-sizing:border-box;
	height:36px;
	padding:0 5px;
}
.nav .n-content li a:hover{
	color:rgb(200,240,160);
}
.content{
	width:100%;
	height:90%;
	cursor:default;
}
.content .c-content{
	width:80%;
	height:100%;
	margin:0 auto;
	color:white;
}
.content .c-content .logo{
	top:50px;
	left:0;
	width:75px;
	height:50px;
	border-radius:50%;
	box-shadow:0 0 4px #c97E48;
	background-color:rgba(0,0,0,0.7);
	text-align:center;
	z-index: 99;
}
.content .c-content .logo span{
	font:18px/50px sans-serif;
}
 .content .c-content .poster{
 	top:25%;
 	left:1em;
 	width:100%;
 	font:italic bold 2.5em/56px Arial,Helvetica,sans-serif;
 	text-shadow: 1px 1px 1px #666;
 	text-overflow: clip;
 	white-space: nowrap;
}
 .content .c-blackboard{
	width:55%;
	height:45%;
	bottom:50px;
 	background:#405c4f url("./images/chalk.png") right bottom no-repeat;
 	border:solid 8px #a95e28; 
 	box-shadow:inset 1px 2px 4px black,2px 3px 6px black;
 	overflow:hidden;
 }
 .content .c-blackboard span.date{
 	display:inline-block;
	position: absolute;
	top:14px;
	right:14px;
	width: 12px;
	height:70px;
	text-align:center;
	font:12px/15px 宋体，sans-serif;
 }
 .content .c-blackboard span.duty{
	display: inline-block;	
	position: absolute;
	top:14px;
	right:35px;
	width:12px;
	height:50px;
	text-align:center;
	font:12px/15px 宋体，sans-serif;
 }
 .content .c-blackboard .slide{
 	height:100%;
 }
 .content .c-blackboard .slide .b-slide{
 	height:100%;
 	font:18px/36px sans-serif;
 	overflow:hidden;
 }
 .content .c-blackboard .b-slide .s-content{
 	width:80%;
 	height: 100%;
 	margin:40px 0 0 60px;
 }
 .content .c-blackboard .b-slide .s-content h2{
 	line-height:75px;
 	font-family: Purisa,"Comic Sans MS";
 }
 .content .c-blackboard .b-slide .s-content span{
 	color:#f3cf01;
 }
 .content .c-blackboard .b-slide h2~p{
 	margin-left:2em;
 }
 .content .c-blackboard .b-slide.dis{
 	display:block;
 }
 .content .c-content .slidebar{
 	position:fixed;
 	bottom:30px;
 	right:5px;
 	width:100px;
 	height:120px;
 	background:url(images/wx.jpg) no-repeat;
 }
 .content .c-content .slidebar .wx{
 	position:absolute;
 	bottom:0;
 	width:100%;
 	height:20px;
 	font:12px/20px sans-serif;
 	text-align:center;
 	color:#333;
 }
.footer{
	position:fixed;
	width:100%;
	height:30px;
	background-color:#333333;
	bottom:0;
}
.footer .f-content{
	width:100%;
	margin:0 auto;
	font:12px/30px sans-serif;
	text-align:center;
	color:#aaa;
}
.footer .f-content a{
	font:12px/30px sans-serif;
	color:#aaa;
}








/*Contact section*/












/*响应式*/

@media screen and (max-width: 1200px) and (min-width:960px){
	body{
		background-size:500px 486px;
	}
	.content .c-content .poster{
	 	font:italic bold 32px/48px Arial,Helvetica,sans-serif;
	}
}
@media screen and (max-width: 960px){
	body{
		background: #dee3df url(images/dingxueyang.jpg) no-repeat 100% 15% ;
		background-size:260px 252px;
	}
	.line-right{
		border:none;
	}
	.line-right .line-bottom{
	}
	.nav .n-content{
		width:90%;
	}
	.nav .n-content li{
		display:inline-block;
		padding-right:5%;
		height:36px;
		font:bold  13px/36px sans-serif ;
	}
	.content .c-content{
		width:90%;
	}
	.content .c-content .logo{
		left:0px;
		width:70px;
		height:45px;
	}
	.content .c-content .logo span{
		font:16px/45px purisa,sans-serif;
	}
	.content .c-content .poster{
	 	top:40%;
	 	left:0;
	 	font:italic bold 20px/38px Arial,Helvetica,sans-serif;
	}
	.content .c-blackboard{
		box-sizing: border-box;
		width:100%;
		height:38%;
		bottom:7%;
		margin:0 auto;
		border:solid 5px #a95e28;
 		overflow:hidden;
 		text-overflow:clip;
 	}
	.content .c-blackboard span.date{
		right:5px;
		font:10px/13px 宋体，sans-serif;
	} 
	.content .c-blackboard span.duty{
		right:20px;
		font:10px/13px 宋体，sans-serif;
	}
	.content .c-blackboard .slide .b-slide {
 		width:95%;
 		font:12px/25px sans-serif;
	}
	.content .c-blackboard .slide .b-slide .s-content{
		width:90%;
 		margin:5px 0 0 20px;
	}
 	.content .c-blackboard .b-slide .s-content h2{
 		line-height:60px;
 	}
 	.content .c-blackboard .b-slide .s-content h2~p{
 		margin-left:1.5em;
 	}
	.content .c-content .slidebar{
		display:none;
	}
	.footer .f-content a{
		font:10px/30px sans-serif;
	}
}
