html,body,div,ul,p{
	margin:0;
	padding:0;
}
li,a{
	text-decoration: none;	
}
a{
	cursor:pointer;
	color:white;
}
li{
	list-style:none;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
.co{
	color:#357655;
}
.rel{
	position:relative;
}
.abs{
	position:absolute;
}
html,body{
	width:100%;
	height:100%;
	background: #dee3df url(images/dingxueyang.jpg) no-repeat bottom right;
	background-size: 700px 681px;
}
.nav{
	height:38px;
	width:100%;
	background-color:#c0ac96;
	border-bottom:solid 2px #fcf3d6;
}
.nav .n-content{
	width:80%;
	height:100%;
	margin:0 auto;
}
.nav .n-content ul{
	width:100%;
	height:100%;
	overflow:hidden;
}
.nav .n-content li{
	display:inline-block;
	padding-right:8%;
	height:36px;
	font:bold  14px/38px sans-serif ;
}
.nav .n-content li a{
	display:inline-block;
	box-sizing:border-box;
	height:36px;
	padding:0 5px;
}
.nav .n-content li a:hover{
	color:#3f604f;
}
.content{
	width:100%;
	height:90%;
	cursor:default;
}
.content .c-content{
	width:80%;
	height:100%;
	margin:0 auto;
	color:white;
}
.content .c-content .logo{
	top:50px;
	left:0;
	width:90px;
	height:65px;
	border-radius:50%;
	background-color:rgba(0,0,0,0.7);
	text-align:center;
	z-index: 99;
}
.content .c-content .logo span{
	font:18px/65px purisa,sans-serif;
}
 .content .c-content .poster{
 	top:25%;
 	left:1em;
 	width:100%;
 	font:italic bold 2.5em/56px Arial,Helvetica,sans-serif;
 	text-shadow: 1px 1px 1px #666;
 	text-overflow: clip;
 	white-space: nowrap;
}
 .content .c-blackboard{
	width:50%;
	height:40%;
	bottom:50px;
 	background-color:#40604f;
 	border:solid 8px #a95e28; 
 	box-shadow:inset 1px 2px 4px black,2px 3px 6px black;
 }
 .content .c-blackboard .b-slide{
 	display:none;
 	width:90%;
 	margin:5% 0 0 10%;
 	font:18px/36px sans-serif;
 	overflow:hidden;
 }
 .content .c-blackboard .b-slide h2{
 	font-family: Purisa,"Comic Sans MS";
 }
 .content .c-blackboard .b-slide h2~p{
 	margin-left:3em;
 }
 .content .c-blackboard .b-slide.dis{
 	display:block;
 }
 .content .c-content .slidebar{
 	position:fixed;
 	bottom:30px;
 	right:5px;
 	width:100px;
 	height:120px;
 	background:url(images/wx.jpg) no-repeat;
 }
 .content .c-content .slidebar .wx{
 	position:absolute;
 	bottom:0;
 	width:100%;
 	height:20px;
 	font:12px/20px sans-serif;
 	text-align:center;
 	color:#333;
 }
.footer{
	position:fixed;
	width:100%;
	height:30px;
	background-color:#333333;
	bottom:0;
}
.footer .f-content{
	width:100%;
	margin:0 auto;
	font:12px/30px sans-serif;
	text-align:center;
	color:#aaa;
}
.footer .f-content a{
	font:12px/30px sans-serif;
	color:#aaa;
}
@media screen and (max-width: 1200px) and (min-width:960px){
	body{
		background-size:500px 486px;
	}
	.content .c-content .poster{
	 	font:italic bold 32px/48px Arial,Helvetica,sans-serif;
	
	}
	.content .c-blackboard .b-slide h2~p{
 		margin-left:2em;
 	}
}
@media screen and (max-width: 960px){
	body{
		background: #dee3df url(images/dingxueyang.jpg) no-repeat 100% 15% ;
		background-size:300px 292px;
	}
	.nav .n-content{
		width:90%;
	}
	.nav .n-content li{
		display:inline-block;
		padding-right:5%;
		height:36px;
		font:bold  13px/36px sans-serif ;
	}
	.content .c-content{
		width:90%;
	}
	.content .c-content .logo{
		left:0px;
		width:70px;
		height:45px;
	}
	.content .c-content .logo span{
		font:16px/45px purisa,sans-serif;
	}
	.content .c-content .poster{
	 	top:35%;
	 	left:0;
	 	font:italic bold 20px/38px Arial,Helvetica,sans-serif;
	}
	.content .c-blackboard{
		box-sizing: border-box;
		width:95%;
		height:40%;
		bottom:5%;
		margin:0 auto;
		border:solid 5px #a95e28;
 		overflow:hidden;
 		text-overflow:clip;
 	}
	.content .c-blackboard .b-slide{
 		width:95%;
 		margin:2% 0 0 5%;
 		font:14px/32px sans-serif;
	 }
 	.content .c-blackboard .b-slide h2~p{
 		margin-left:1.5em;
 	}
	.content .c-content .slidebar{
		display:none;
	}
	.footer .f-content a{
		font:10px/30px sans-serif;
	}
}